@import url("https://overpass-30e2.kxcdn.com/overpass.css");

#greentree-meter-bar {
  animation: greentree-meter-slide 1.2s ease 1s forwards;
}

@keyframes greentree-meter-slide {
  0% { transform: translateX(0px); }
  50%, 100% { transform: translateX(-40px); }
}




#i279-meter-bar {
  animation: i279-warning-slide 2s ease 2.3s forwards;
}

#i279-meter-bg use[fill],
#i279-readout-bg,
#i279-text-bg,
#i279-icon-bg {
  animation: i279-warning-yellow 2s linear 2.3s forwards;
}

@keyframes i279-warning-slide {
  0% { transform: translateX(0px); }
  50%, 100% { transform: translateX(-104px); }
}

@keyframes i279-warning-yellow {
  0%, 20% {
    fill: #EEE8D5;
    fill-opacity: 1.0;
  }
  50%, 100% {
    fill: #B58900;
    fill-opacity: 0.4;
  }
}


#tunnel-meter-bar {
  animation: tunnel-meter-slide 2.7s ease 4.4s forwards;
}

#tunnel-meter-bg use[fill],
#tunnel-readout-bg,
#tunnel-icon-bg {
  animation: tunnel-error-red 2.7s linear 4.4s forwards,
             tunnel-red-pulse 0.45s linear 5.5s alternate infinite;
}
#tunnel-text-bg {
  animation: tunnel-error-red 2.7s linear 4.4s forwards;
}

#tunnel-icon {
  transform: translate(352px, 403px);
  animation: tunnel-resize-large 0.7s ease-out 5.0s forwards;
}

@keyframes tunnel-meter-slide {
  0% { transform: translateX(0px); }
  50%, 100% { transform: translateX(-135px); }
}

@keyframes tunnel-error-red {
  0%, 15% {
    fill: #EEE8D5;
    fill-opacity: 1.0;
  }
  22%, 25% {
    fill: #B58900;
    fill-opacity: 0.4;
  }
  26%, 100% {
    fill: #DC322F;
    fill-opacity: 0.6;
  }
}

@keyframes tunnel-red-pulse {
  0% {
    fill-opacity: 0.6;
  }
  100% {
    fill-opacity: 0.3;
  }
}

@keyframes tunnel-resize-large {
  100% {
    transform: translate(323px, 378px) scale(1.625);
  }
}
